<div class="container">
  <h2>Logo</h2>
  <div ng-controller="HomeController as ctrl">
    <form ng-submit="ctrl.submit()">
      <textarea rows="4" cols="50" placeholder="Enter Paragraph" ng-model="ctrl.userInput"></textarea>
      <input class="btn btn-primary" type="submit" value="Search">
    </form>
    {{ctrl.userInput}}
  </div>
</div>
